@import "tailwindcss";

.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.btn-green {
  background: #16a34a;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-red {
  background: #dc2626;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}